= form_for(@presentation) do |f|
  =error_messages_for @presentation.errors, :presentation
  = f.hidden_field :global
  %div.field
    = f.label :threadpage_size
    = f.number_field :threadpage_size
  %div.field
    = f.label :time_zone
    = f.time_zone_select :time_zone, /Minsk|Moscow|Petersburg|Volgograd|Ekaterinburg|Novosibirsk|Krasnoyarsk|Irkutsk|Yakutsk|Vladivostok/, :default => "Europe/Moscow", :model => TZInfo::Timezone
  %div.field
    = f.label :highlight_self
    = f.check_box :highlight_self
  %div.field
    = f.label :hide_signatures
    = f.check_box :hide_signatures
  %div.field
    = f.label :plus
    = f.check_box :plus
  %div.field
    = f.label :autowrap_thread_threshold
    = f.number_field :autowrap_thread_threshold
  %div.field
    = f.label :autowrap_thread_value
    = f.number_field :autowrap_thread_value
  %div.field
    = f.label :smooth_threshold
    = f.number_field :smooth_threshold
  %div.field
    = f.label :normal_order
    = f.check_box :normal_order
  %div.field
    = f.label :name
    = f.number_field :name
  %div.actions
    = f.submit
