= form_for(@presentation) do |f|
  -if @presentation.errors.any?
    %div{id=>"error_explanation"}
      %h2
        =pluralize(@presentation.errors.count, "error")
        prohibited this presentation from being saved:
      %ul
        -@presentation.errors.full_messages.each do |msg|
          %li= msg
  %div.field
    = f.label :threadpage_size
    = f.number_field :threadpage_size
  %div.field
    = f.label :time_zone
    = f.time_zone_select :time_zone, /Minsk|Moscow|Petersburg|Volgograd|Ekaterinburg|Novosibirsk|Krasnoyarsk|Irkutsk|Yakutsk|Vladivostok/, :default => "Europe/Moscow", :model => TZInfo::Timezone
  %div.hiddenthreads
    Hidden threads:
    %ul
      - current_user.hidden_posts.each do |p|
        %li= link_to p.title, p
  %div.actions
    = f.submit
