= form_for([@user,@pazuzu]) do |f|
  =error_messages_for @pazuzu.errors, :pazuzu
  -# NOTE: this is not at the post to prevent loading all pazuzus at each post request.  This would take a DB request, which is mostly unnecessary.
  -if @user.pazuzus.any? {|p| p.equals @pazuzu}
    %p.warning=ta(:already_exists,:pazuzu)
  %table
    %tr
      %th
        =t(:criterion).capitalize
      %th
        =t(:value).capitalize
    %tr
      %td
        = f.check_box :use_bastard
        = f.label :bastard
      %td
        = f.text_field :bastard_name
    %tr
      %td
        = f.check_box :use_host
        = f.label :host
      %td
        = f.text_field :host
    %tr
      %td
        = f.check_box :use_unreg_name
        = f.label :unreg_name
      %td
        = f.text_field :unreg_name
  %div.actions
    = f.submit

