= form_for(@user) do |f|
  -if @user.errors.any?
    %div#error_explanation
      %h2= t 'activerecord.errors.template.header', :count => @user.errors.count, :model => :user
      %ul
        -@user.errors.full_messages.each do |msg|
          %li= msg
  -if @user.persisted?
    = "Modify user #{@user.login}"
    %br/
  -else
    %div.field
      = f.label :login
      = f.text_field :login
  -if @user.persisted?
    %div.field
      = f.label :current_password
      = f.password_field :current_password
  %div.field
    = f.label :password
    = f.password_field :password
  %div.field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %div.field
    = f.label :email
    = f.text_field :email
    Write some crap here, no e-mail will be sent anyway!
  %div.field
    = f.label :signature_body
    = f.text_area :signature_body, :cols => 50, :rows => 7
  %div
    Current signature:
    %br/
    != @user.formatted_signature
  - if !current_user && captcha_enabled
    =t :'recaptcha.prompt'
    = captcha_tags
  %div.actions
    =f.submit
