<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% if permitted_to? :create, :private_messages %>
  <p>
    <%= link_to 'Write a PM', new_private_message_path(:to => @user) %>
  </p>
<% else %>
  <p><%= link_to 'Log in', login_path %> to write a PM to the user.</p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

