= form_for @post do |f|
  = error_messages_for @post.text_container.errors, :text_container
  = error_messages_for @post.errors, :post
  %table{:border=>0, :cellspacing => 0, :cellpadding => 3}
    %tr
      %td{:colspan => 2, :align => "center"}
        %big
          %a{:name => 'reply'}Post
    %tr
      %td{:colspan => 2}
        %hr{:align => 'center', :width => '80%', :noshade => true}
    %tr
      %td{:align => 'center'}
        %b Name:
      - if current_user
        %td{:align => 'left'}
          %span.postform-login= current_user.login
          %span.postform-logout=link_to 'Log out', logout_path
      - else
        = f.fields_for :session do |sf|
          %td{:align => 'left'}
            =sf.text_field 'login', :size => 22
            %b Password:
            =sf.password_field 'password', :size => 22
            %b Autologin:
            -# Note that this is not "remember me" session attribute.  It's whether we log in or just use the credentials for one-time posting.  Note the f instead of sf!
            =f.check_box 'autologin'
    %tr
      %td{:align => 'center'}Topic:
      %td
        =f.text_field 'title', :size => 88
    %tr
      %td{:colspan => 2, :align => :center}
        =f.text_area 'body', :cols => 75, :rows => 12

  = f.submit t('helpers.submit.posts.preview'), :default => true, :name => :preview
  = f.submit

