-# Post title (link or plain, depending on whether it's the current post)
-# We strip whitespace from the post's title
- post_title = post.title.strip
- if @post && (post.id == @post.id)
  %span.this-post-oneline
    = post_title
- else
  %span.post-oneline
    = link_to post_title, post_path(post)
- if post.empty_body?
  (-)
- else
  (+)
-# (url)/(pic) marks
- post.marks.each do |mark|
  %span.post-mark="(#{mark}) "
-# post clicks
- if post.clicks != 0
  %span.post-clicks="(#{post.clicks})"
\-
-# Due to the speed concerns, we use user_login here instead of user.login, so we don't need to load users
- if post.user_login
  %span.post-user= link_to post.user_login, user_path(post.user_login)
- else
  %span.post-unreg= (post.unreg_name || "NIL")
="(#{post.host}) "
%span.post-timestamp
  = post.created_at
-# Post Editing link
- if permitted_to? :edit, post
  =link_to t("Edit"), edit_post_path(post)
-# Post hidden mark and hide/show modifier
-hidden = post.hidden_by?(:user => current_user, :thread_hides => thr.hides)
- if permitted_to? :toggle_showhide, :posts
  - if hidden
    =link_to t("Show subtree"), toggle_showhide_post_path(post)
  - else
    =link_to t("Hide subtree"), toggle_showhide_post_path(post)

