- if post
  -# Post title (link or plain, depending on whether it's the current post)
  - if @post && (post.id == @post.id)
    %span.this-post-oneline
      = post.title
  - else
    %span.post-oneline
      = link_to post.title, post_path(post)
  &nbsp;
  -# (url)/(pic) marks
  - post.marks.each do |mark|
    %span.post-mark="(#{mark}) "
  \-
  - if post.user
    %span.post-user= link_to post.user.login, user_path(post.user)
  - else
    %span.post-unreg= (post.unreg_name || "NIL")
  ="(#{post.host}) "
  %span.post-timestamp
    = post.created_at
  - subtree = post.thread.build_subtree unless defined?(subtree) && subtree
  - if children = subtree[post.id]
    %div.post-children
      %ul
        - children.each do |child|
          %li= render :partial => 'posts/subtree', :locals => {:post => child, :subtree => subtree}

