- if root_post
  - if @post && (root_post.id == @post.id)
    %span.this-post-oneline
      = root_post.title
  - else
    %span.post-oneline
      = link_to root_post.title, post_path(root_post)
  &nbsp;
  -# TODO: insert (url)/(pic)
  \-
  - if root_post.user
    %span.post-user= link_to root_post.user.login, user_path(root_post.user)
  - else
    %span.post-unreg= (root_post.unreg_name || "NIL")
  %span.post-timestamp
    = root_post.created_at
  - if children = root_post.thread.build_subtree[root_post.id]
    %div.post-children
      %ul
        - children.each do |child|
          %li= render :partial => 'posts/subtree', :locals => {:root_post => child}

