<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <title><%= config_param(:site_title) %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <!-- include controller-specific javascript -->
  <% if %w(posts).include? params[:controller] %>
    <%= javascript_include_tag params[:controller] %>
  <% end %>
  <!-- These inline styles are used to highlight your name and the current post efficiently. -->
  <style type="text/css"><%= yield :current_post_style %></style>
  <style type="text/css"><%= yield :current_user_style %></style>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user-nav" class="header">
  <div class="menu">
    <%= link_to_unless_current t("Home"), root_path  %>  |
    <%= link_to_unless_current ta(:create,:thread), new_thread_path %>  |
    <% if current_user %>
      <%= link_to t("Log out"), logout_path  %> |
      <%= link_to_unless_current ta(:index_edit,:user), edit_user_path(current_user.to_param)  %> |
      <% if current_user.unread_messages.empty? %>
        <%= link_to_unless_current ta('index.no_new',:private_message), private_messages_path  %> |
      <% else %>
        <%= link_to_unless_current ta('index.some_new',:private_message, :count => current_user.unread_messages.length), private_messages_path, :class => 'unread-pm' %> |
      <% end %>
    <% else %>
      <%= link_to_unless_current ta(:register,:user), new_user_path  %>  |
      <%= link_to t("Log in"), login_path  %> |
      <%= ta('index_edit',:user) %> |
      <%= ta('index.no_new',:private_message) %> |
    <% end %>
    <% if permitted_to? :manage, :admin_specials %>
      <%= link_to_unless_current t('index.admin'), admin_index_path %> |
    <% end %>
    <%= link_to_unless_current ta(:index,:presentation), view_settings_path  %> |
    <%= link_to_unless_current ta(:latest,:post), latest_posts_path  %> |
    <%= link_to_unless_current "RSS", latest_posts_path(:format => :rss)  %> |
    <% if permitted_to? :index, :moderation_actions %>
      <%= link_to_unless_current ta(:index,:moderation_action), moderation_actions_path()  %>
    <% else %>
      <%= ta(:index,:moderation_action) %>
    <% end %>
  </div>

  <div class="info">
    <div class="left">
      <%= render :partial => 'user_sessions/login_bar' %>
      <% if @threads %>
        <div class="pager">
          <%= "#{t(:Showing, :threads => @threads.count).humanize}."%>
          <% if !params[:page].blank? %>
            <%= "#{t(:Page).humanize}: "%><%=paginate(@threads) %>
          <% end %>
        </div>
      <% end %>
      <% if current_user && !current_user.unread_messages.empty? %>
        <%= link_to_unless_current ta('index.some_new_msg',:private_message, :count => current_user.unread_messages.length), private_messages_path, :class => 'unread-pm' %>
      <% end %>
    </div>
    <div class="right">
      <%= render :partial => 'activities/stats' %>
    </div>
    <div style="clear: both; height: 0px; overflow: hidden;">
      <br>
    </div>
  </div>
</div>

<% unless (notice_text = notice).blank? %>
  <div id="notice"><span><%= notice %></span></div>
<% end %>

<div id="main">
  <%= yield %>
</div>

<div id="footer">
  <div class="copyright">
    <%= t :copyright %>
    <%= link_to t(:here), 'http://dev.coldattic.info/projects/evil/' %>.
    <br/>
    <%= t :page_load_time_is %>
    <%= page_load_time %>
    <%= t :page_load_time_seconds %>
  </div>
</div>
</body>
</html>
