<!DOCTYPE html>
<html>
<head>
  <title><%= Configurable[:site_title] %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <!-- TODO: only include when needed -->
  <%= javascript_include_tag "posts" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="user-nav">
    <%= link_to_unless_current "Home", root_path  %>  |
    <%= link_to_unless_current "New thread", new_thread_path %>  |
    <% if current_user %>
      <%= link_to "Logout", logout_path  %> |
      <%= link_to_unless_current "Edit profile", edit_user_path(current_user.to_param)  %> |
      <%= link_to_unless_current "Private Msgs.", private_messages_path  %> |
    <% else %>
      <%= link_to_unless_current "Register", new_user_path  %>  |
      <%= link_to "Login", login_path  %> |
      Edit profile |
      Private Msgs |
    <% end %>
    <% if permitted_to? :manage, :admin_specials %>
      <%= link_to_unless_current "Admin settings", admin_index_path %> |
    <% end %>
    <%= link_to_unless_current "View settings", view_settings_path  %> |
    <%= link_to_unless_current "Latest Messages", latest_posts_path  %> |
    <%= link_to_unless_current "RSS", latest_posts_path(:format => :rss)  %> |
    <%= link_to_unless_current "Moderation Log", moderation_actions_path()  %> |
  </div>
  <%= render :partial => 'activities/stats' %>

  <p id="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
